{% extends 'base.html' %}
{% load tailwind_filters %}
{% block content %}

<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Reset password</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Please enter your registered email to reset password.</p>
    </div>
    <div class="flex flex-col text-center w-full mb-12">
      <div class="flex items-center justify-center max-auto">
        <form action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
        </form>
      </div>
      <div class="mt-5">
        <a href="{% url 'login' %}" class="hover:text-blue-500">Already have an account?</a>
      </div>

    </div>
  </div>
</section>
{% endblock content %}