{% extends 'base.html' %}
{% load tailwind_filters %}
{% block content  %}

<div class="container px-5 py-5 mx-auto">
    <div class="flex flex-col w-full mb-12">   
     <div class="max-w-lg max-auto container px-5 py-1 mx-auto">
        <h1>Create A New Category</h1>
        <a href="{% url 'leads:category-list' %}"><p class="text-sm hover:text-blue-500 mb-4">Go back to categories</p></a>
        <hr>
        <form method="post" action="" class="mt-5">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="w-full text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
        </form>   
     </div>
    </div>
</div>
  {% endblock content %}


